body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}
html{
    scroll-behavior: smooth;
}
header {
    background-color: #26495c;
    color:  #e5e5dc;
    text-align: center;
    padding: 50px 20px;
    transition: padding 0.5s ease;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    transition: font-size 0.5s ease;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
    
}

section {
    margin: 20px 0;
}
.intod{
    padding: 15px;               
    margin: 20px 0 10px 0;       
    border-radius: 5px;
}
.intro{
    display: flex;                
    align-items: flex-start;      
    padding: 15px;               
    margin: 10px 0;              
    border-radius: 5px;
}
.side-image {
    width: 150px;                 
    height: auto;    
    border-radius: 50%;           
    margin-left: 50px;
}

.abt{
    
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}
.intro-cnt {
    font-size: large;
    align-items: center;
   justify-content: center;
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    width: 50%;
    border-radius: 5px;
    margin-right: 20px;  
}
.abt-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu{
    align-items: center;
    justify-content: center;
     background-color: #f4f4f4;
     padding: 10px;
     margin: 10px 5px;
     border-radius: 5px;
}
.exp{
    align-items: center;
    justify-content: center;
     background-color: #f4f4f4;
     padding: 10px;
     margin: 10px 5px;
     border-radius: 5px;
}
.int{
    align-items: center;
    justify-content: center;
     background-color: #f4f4f4;
     padding: 10px;
     margin: 10px 5px;
     border-radius: 5px;
}

.cta-button {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 25px;
    background-color:  #e5e5dc;
    color: #26495c;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; 
}

.cta-button:hover {
    background-color: #26495c;
    color:  #e5e5dc;
    transform: scale(1.05);

}

.gt-btn{
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
    padding: 10px 15px;
    background-color:  #e5e5dc;
    color: #26495c;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    bottom: 20px;                 
    right: 20px; 
}

.gt-btn:hover {
    background-color: #26495c;
    color:  #e5e5dc;
    transform: scale(1.05);

}


.cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont{
    
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}


footer {
    background-color: #26495c;
    color:  #e5e5dc;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

